wikipedia==1.4.0
requests==2.32.3
BeautifulSoup4==4.11.1
Wikipedia-Api==0.5
trafilatura==0.9.0
lxml_html_clean==0.4.1
tqdm==4.67.1
newspaper3k==0.2.8
openai==1.55.3
httpx==0.27.2
asyncio==3.4.3
goose3[all]
nltk
PyStemmer==2.2.0.3
bm25s[full]
datasets
numpy==2.0.2
scipy==1.14.1
jax[cpu]==0.5.2
scikit-learn==1.6.1